@font-face {
  font-family: "Akkurat, sans-serif";
  font-style: normal;
  font-weight: 400;
  src: url(../FontsFree-Net-Akkurat.ttf) format('truetype');
}

@font-face {
  font-family: "Roboto, sans-serif";
  font-style: normal;
  font-weight: 500;
  src: url(../Roboto-Medium.ttf) format('truetype');
}


body {
  font-family: "Akkurat, sans-serif";
  margin: 0px;
}

.rectangle {
  background-color: black;
  position: absolute;
  width: 1300px;
  height: 900px;
  left: 0px;
  top: -2px;
}
h1{
  position: absolute;
width: 668px;
height: 288px;
left: 275px;
top: 180px;

font-family: "Akkurat";
font-style: normal;
font-weight: 500;
font-size: 123px;
line-height: 144px;
color: white;
}
.contacts{
color: white;

position: absolute;
width: 105px;
height: 31.76px;
left: 1097px;
top: 253px;

font-family: 'Akkurat';
font-style: normal;
font-weight: 500;
font-size: 17px;
line-height: 12px;
border: 1px solid #000000;
transform: rotate(90deg);

}
.aboutme{

position: absolute;
width: 107.58px;
height: 31px;
left: 143px;
top: 190px;

font-family: "Akkurat";
font-style: normal;
font-weight: 500;
font-size: 17px;
line-height: 12px;

color: #FFFFFF;

border: 1px solid #000000;

}
.graphics{

position: absolute;
width: 105px;
height: 31.76px;
left: 143px;
top: 644px;

font-family: "Akkurat";
font-style: normal;
font-weight: 500;
font-size: 17px;
line-height: 12px;

color: #FFFFFF;

border: 1px solid #000000;
transform: rotate(-90deg);
}
.text{
  position: absolute;
width: 200.81px;
height: 54px;
left: 873px;
top: 417px;

font-family: 'Akkurat';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 12px;

color: #FFFFFF;

border: 1px solid #000000;
}
.cv{
  position: absolute;
width: 29px;
height: 10px;
left: 997px;
top: 634px;

font-family: 'Akkurat';
font-style: normal;
font-weight: 500;
font-size: 17px;
line-height: 13px;

color: #FFFFFF;

border: 1px solid #000000;
}
.projects{
  position: absolute;
width: 108px;
height: 10px;
left: 1048px;
top: 634px;

font-family: 'Akkurat';
font-style: normal;
font-weight: 500;
font-size: 17px;
line-height: 13px;

color: #FFFFFF;

border: 1px solid #000000;
margin-left: 10px;
}

.rectangle-projects{
  position: absolute;
width: 1300px;
height: 165px;
left: 0px;
top: 894px;
background-color: white;
margin-left: 0px;
}
.gh{
  font-family: 'Akkurat';
color: black;
position: absolute;
text-align:center;
width: 1270px;

height: 165px;
font-size:115px;
margin: 0;
font-weight: 500px;
line-height: 144px;
text-transform: uppercase;
}
.firstpr{
  position: absolute;
width: 531.67px;
height: 426px;
left: 150px;
top:150px;
}
.rectangle-choosepr{
  position: absolute;
width: 1300px;
height: 1173px;
left: 0px;
top: 1036px;
background-color: black;
}
.block{
  background-color: white;
}
