@font-face {
  font-family: "Akkurat", sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url(../FontsFree-Net-Akkurat.ttf) format('truetype');
}

body {
  font-family: "Akkurat, sans-serif";
  margin: 0px;
}

.rectangle {
  background-color: black;
  position: absolute;
  width: 1440px;
  height: 900px;
  left: 0px;
  top: -2px;
}

h1 {
  position: absolute;
  width: 668px;
  height: 288px;
  left: 275px;
  top: 180px;
  font-family: "Akkurat";
  font-style: normal;
  font-weight: 500;
  font-size: 123px;
  line-height: 144px;
  color: white;
}

a:link {
  color: white;
}

a:visited {
  color: white;
}

a:hover {
  font-size: 150%;
}

a {
  color: white;
}

a.aboutmeb:hover {
  color: hotpink;
}

a.contactsb:hover {
  color: #0000ff;
}

a.cvb:hover {
  color: #0000ff;
}

a.graphicsb:hover {
  color: #ff5500;
}

a:link {
  text-decoration: none;
}

.contacts {
  color: white;
  position: absolute;
  width: 105px;
  height: 31.76px;
  left: 1097px;
  top: 253px;
  font-family: 'Akkurat';
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 12px;
  border: 1px solid #000000;
  transform: rotate(90deg);
}

.aboutme {
  position: absolute;
  width: 107.58px;
  height: 31px;
  left: 143px;
  top: 190px;
  font-family: "Akkurat";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 17px;
  color: #FFFFFF;
  border: 1px solid #000000;
}

.graphics {
  position: absolute;
  width: 105px;
  height: 31.76px;
  left: 143px;
  top: 644px;
  font-family: "Akkurat";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 12px;
  color: #FFFFFF;
  border: 1px solid #000000;
  transform: rotate(-90deg);
}

.text {
  position: absolute;
  width: 200.81px;
  height: 54px;
  left: 873px;
  top: 417px;
  font-family: 'Akkurat';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 19px;
  color: #98f542;
  border: 1px solid #000000;
}

.cv {
  position: absolute;
  width: 29px;
  height: 10px;
  left: 997px;
  top: 634px;
  font-family: 'Akkurat';
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 13px;
  color: #FFFFFF;
  border: 1px solid #000000;
}

.projects {
  position: absolute;
  width: 108px;
  height: 10px;
  left: 1048px;
  top: 634px;
  font-family: 'Akkurat';
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 13px;
  color: #FFFFFF;
  border: 1px solid #000000;
  margin-left: 10px;
}

.rectangle-projects {
  position: absolute;
  width: 1440px;
  height: 165px;
  left: 0px;
  top: 894px;
  background-color: white;
  margin-left: 0px;
}

.gh {
  font-family: 'Akkurat';
  color: black;
  position: absolute;
  text-align: center;
  width: 1270px;
  height: 165px;
  font-size: 115px;
  margin: 0;
  font-weight: 500px;
  line-height: 144px;
  text-transform: uppercase;
}

.firstpr {
  position: absolute;
  width: 386px;
  height: 347px;
  left: 57px;
  top: 150px;
  margin: 0;
}

.popis1 {
  position: absolute;
  width: 250px;
  height: 117px;
  left: 465px;
  top: 134px;
  font-family: 'Akkurat';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 15px;
  color: #FFFFFF;
}

.rectangle-choosepr {
  position: absolute;
  width: 1440px;
  height: 1273px;
  left: 0px;
  top: 1036px;
  background-color: black;
}

.secondpr {
  position: absolute;
  width: 436px;
  height: 634px;
  left: 390px;
  top: 80px;
}

.popis2 {
  position: absolute;
  width: 486px;
  height: 135.46px;
  left: 390px;
  top: 760px;
  font-family: "Akkurat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 15px;
  color: #FFFFFF;
}

.thirdpr {
  position: absolute;
  width: 386px;
  height: 507px;
  left: 30px;
  top: 815px;
}

.popis3 {
  position: absolute;
  width: 250px;
  height: 302.02px;
  left: 465px;
  top: 1629px;
  font-family: 'Akkurat';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 15px;
  color: #FFFFFF;
}

.block {
  background-color: white;
  position: absolute;
  width: 1440px;
  height: 1000px;
  left: 0px;
  top: 2309px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
}

.date {
  position: absolute;
  width: 66px;
  height: 47px;
  left: 102px;
  top: 50px;
  font-family: "Akkurat";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  color: #000000;
}

.forthpr {
  position: absolute;
  width: 383.96px;
  height: 545px;
  left: 30px;
  top: 100px;
  margin: 0px;
}

.popis4 {
  position: absolute;
  width: 226.44px;
  height: 470px;
  left: 465px;
  top: 200px;
  font-family: "Akkurat";
  font-style: normal;
  font-weight: 600px;
  font-size: 14px;
  line-height: 15px;
  color: #000000;
}

.fipr {
  position: absolute;
  width: 336px;
  height: 476px;
  left: 750px;
  top: 200px;
}

.popis5 {
  position: absolute;
  width: 500px;
  height: 64.01px;
  left: 750px;
  top: 600px;
  font-family: 'Akkurat';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 15px;
  color: #000000;
}

.textcontacts {
  position: absolute;
  width: 1440px;
  height: 165px;
  left: 0px;
  top: 800px;
  font-family: "Akkurat";
  font-style: normal;
  font-weight: 500;
  font-size: 123px;
  line-height: 144px;
  text-transform: uppercase;
  color: #000000;
  padding-bottom: 250px;
}

.contactsbl {
  position: absolute;
  width: 367px;
  height: 97px;
  left: 122px;
  top: 1150px;
  font-family: 'Akkurat';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 15px;
  color: #000000;
}

.copiright {
  position: absolute;
  width: 1440px;
  height: 64.37px;
  left: 0px;
  top: 1280px;
  background: #000000;
}

.textcopi {
  position: absolute;
  width: 529px;
  height: 40.74px;
  left: 127px;
  top: 10px;
  font-family: 'Akkurat';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
}

.fb {
  position: absolute;
  width: 70px;
  height: 70px;
  left: 722px;
  top: 2px;
}

.inst {
  position: absolute;
  width: 77px;
  height: 77px;
  left: 891px;
  top: 0px;
}
.vk{
  position: absolute;
  width: 77px;
  height: 77px;
  left: 1060px;
  top: 0px;
}
.tel{
  position: absolute;
  width: 70px;
  height: 70px;
  left: 540px;
  top: 5px;
}
